@import "../style.scss";

.file{

    padding: 2rem;
    .uploader{
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        @include mobile{
           display: flex;
           flex-direction: column;
            
         }
        span{
            margin-right: 1rem;
            font-size: 1.5rem;
            @include mobile{
                margin-bottom: 1rem;
                
             }
        }
        input{
            width: 15rem;
            margin-right: 2rem;
            @include mobile{
              margin-bottom: 0.5rem;
             
                
             }
            
        }
        button{
            border: none;
            padding: 0.5rem;
            background-color: skyblue;
            border-radius: 5px;
            cursor: pointer;@include mobile{
                margin-bottom: 0.5rem;
               
                  
               }
        }
        
    }

    .images{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        gap: 1rem;
        .crud{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.824);
            padding: 0.5rem;
            
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            
            span{
                color: white;
                
            }
        }
        img{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            height: 20rem;
            width: 20rem;
            object-fit: cover;

            @include mobile{
                
                height: 15rem;
                width: 15rem;
               
                  
               }
        }
        
    }

}

