@import "../style.scss";

.folders{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    width: 17rem;
    background-color: rgba(135, 207, 235, 0.381);
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    @include mobile{
        width: 10rem;
        padding: 0.5rem;
       
    }
    
    cursor: pointer;
    &:hover{
        background-color: rgba(135, 207, 235, 0.614);
    }
    .fo{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 9rem;
            @include mobile{
                width: 3rem;
                font-size: 0.8rem;
               
            }
        }

  
    }
    .crud{
        display: flex;
        gap: 0.5rem;
        position: relative;
        @include mobile{
            gap: 0.2rem;
           
        }
        

        form{
            position: absolute;
            top: 0;
            background-color: #fff;
            padding: 1rem;
            z-index: 9;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            input{
                padding: 1rem;
                margin-bottom: 0.5rem;
                outline: none;
            }
            button{
                padding: 0.5rem;
                background-color: skyblue;
                border: none;
                cursor: pointer;
            }
            
        }
    }
    
}