.header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    .left{
        display: flex;
        gap: 8rem;
        align-items: center;
        .logo{
        display: flex;
        align-items: center;
        gap: 0.7rem;
        cursor: pointer;

        img{
            height: 3rem;
            
        }
        p{
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
    .search{
        background-color: rgba(135, 207, 235, 0.174);
        padding: 0.5rem;
        border-radius: 3rem;
      
        display: flex;
        align-items: center;
        gap: 1rem;
        input{
            border: none;
            outline: none;
            font-size: 1.2rem;
            width: 35rem;
            background-color: transparent;
        }
        span{
            cursor: pointer;
            padding: 0.5rem;
            &:hover{
                background-color: rgba(128, 128, 128, 0.254);
                border-radius: 50%;
                
            }
        }
    }
    }
    .rights{
        display: flex;
        align-items: center;
        gap: 1rem;
      
        span{
            cursor: pointer;
        }
        .user{
            background-color: rgb(81, 81, 185);
            padding: 0.5rem 0.7rem;
            border-radius: 50%;
            color: white;
            font-weight: 800;
        }
        
    }
}