@import "../style.scss";


.register{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    

    
    .container{
        background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

        padding: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        gap: 2rem;
        @include mobile{
            width: 80%;
            padding: 1rem;
           
        }
       
        .title{
            font-size: 2rem;
        }
        p{
            @include mobile{
                font-size: 0.8rem;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .btn{
                padding: 0.5rem;
                cursor: pointer;
                border: none;
                @include mobile{
                    padding: 0.2rem;
                }
            }

            input{
                border: none;
                padding: 2rem;
                outline: none;
                font-size: 1.5rem;
                @include mobile{
                    padding: 0.8rem;
                    width: 100%;
                    font-size: 1rem;
                }
               
                
            }
            
        }
        .error{
            color: rgb(239, 13, 13);
            font-weight: bold;
        }

       
    }
}


.login{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;

    
    .container{
        background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
        gap: 2rem;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        @include mobile{
            width: 80%;
            padding: 1rem;
           
        }
       
        .title{
            font-size: 2rem;
        }
        p{
            @include mobile{
                font-size: 0.8rem;
            }
        } .error{
            color: rgb(239, 13, 13);
            font-weight: bold;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .btn{
                padding: 0.5rem;
                cursor: pointer;
                @include mobile{
                    padding: 0.2rem;
                }
            }

            input{
                border: none;
                padding: 2rem;
                outline: none;
                font-size: 1.5rem;
                @include mobile{
                    padding: 0.8rem;
                    font-size: 1rem;
                    width: 100%;
                }
            }
            
        }

       
    }
}