.myDrive{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    .dropDown{
        display: flex;
        gap: 1rem;

        p{
            border: 1px solid grey;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}