.app{
  background-color: rgba(135, 207, 235, 0.142);
  min-height: 100vh;
  max-width: 100vw;
}

.main{
  display: flex;
  justify-content: space-between;
  padding-right:1rem ;
  gap: 0.8rem;
}
.left{
  flex: 1.4;
}
.middle{
  background-color: #fff;
  flex: 9;
  border-radius: 1rem;
  min-height: 90vh;
}
.right{
  flex: 0.3;
 
}

